name: ROS2 Integration Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v3
      - name: build and test
        run: |
          rsync -av ./ root?ros2_ws/src/speed_lim_pkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
